DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PASSWORD=changemeinprod

REDIS_PASSWORD=changemeinprod

BASIC_AUTHS=igris:changeinproduction,beru:changeinproduction

